{% load django_bootstrap5 %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'home' %}"> На главную </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users' %}"> Пользователи </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' request.user.id %}"> Моя страница </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"> Выйти </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"> Войти в аккаунт </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_user' %}"> Регистрация </a>
        </li>
      </ul>
        {% endif %}
      </a></li>
    </ul>
  </div>
</div>
</div>
</nav>
</header>

        {% endblock %}